*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 5fr;
  grid-template-areas:
    "sidebar header"
    "sidebar main";
}

.header {
  padding: 1rem 2rem;
  grid-area: header;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
  align-items: center;
}

.sidebar {
  background-color: cornflowerblue;
  grid-area: sidebar;
}

main {
  background-color: lightsalmon;
  grid-area: main;
}

/* -- HEADER -- */
.header-search {
  display: grid;
  grid-template-columns: 3rem 1fr;
  justify-items: start;
}

.header-notificacion {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, max-content);
  justify-content: end;
  align-items: center;
  gap: 1rem;
}

.header-usuario {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 1rem;
  align-items: center;
}

.header-botones {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: end;
}
/* -- HEADER -- */
